@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&family=Kanit:wght@300&family=Poppins&family=Raleway:wght@300&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  background-color: #e3f9ff;
}

.button {
  width:66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(223, 146, 229);
  color: rgb(33, 2, 52);
  box-shadow:-8px -8px 15px rgb(163, 139, 207),5px 5px 15px rgb(30, 4, 45);
  font-size: 20px;
  
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(223, 146, 229);
  box-shadow:-8px -8px 15px rgb(163, 139, 207),5px 5px 15px rgb(30, 4, 45);
  color: rgb(33, 2, 52);
}